body{
  overflow: hidden;
}

.caption{
  position: absolute;
  text-align: justify;
  display: inline-block;
  margin: 0;
  top: 5%;
}

p{
  color: white;
  font-size: 20px;
  margin-top: 0;
}
.horizontal-image-container{
  position: absolute;
  top: 5%;
}
