<% provide(:title, "About") %>
<head>
<title><%= yield(:title)%> | Real Heroes DB</title>
</head>
<link rel="stylesheet" type="text/css" href="about.css">

<div class="caption">
<h2> We believe that super heroes are real. They are humans, not just comic characters.</h2>
  <br>
  <br>
  <p> Real Heroes DB is a web app containing a list of people that are recognized as super heroes 
  because of their significant contribution to the betterment of society. Anyone can be a hero and
  nominate a hero.
  <br>
  <br>
  <p> To nominate a hero, visit the "Nominate a Hero" page and fill in the required information.
  We ask that you include a picture of your nominated hero as well as your phone number.
  We only use your phone number to let you know that your nomination has been approved.
</div>
