<% provide(:title, "About") %>
<head>
<title><%= yield(:title)%> | Real Heroes DB</title>
</head>
<link rel="stylesheet" type="text/css" href="about.css">

<div class="horizontal-image-container">
# <img src="./assets/about_pic.jpg" height = 600, width = 450>
</div>
<div class="caption">
</div>
