<% provide(:title, "Contact") %>

<head>
<title><%= yield(:title)%> | Mario Reads This</title>
</head>

<link rel="stylesheet" type="text/css" href="contact.css">

<div class="contact-content">
  <div class="center-horizontal">
    <h1> Swing by and Say Hi! </h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="mail-left">
      <h2> Office </h2>
      <h3>221B Baker Street, London</h3>
      <br>
      <h2> GitHub </h2>
      <h3>mutemathy</h3>
    </div>
    <div class = "v1">
    </div>
    <div class="mail-right">
    <h2> Mail </h2>
    <h3> 1999manalu@gmail.com </h3>
    <br>
    <h2> Phone </h2>
    <h3> 101111110001110001001001001101101 </h3>
    </div>
  </div>
</div>
