<% provide(:title, "Disclaimer")%>
<link rel="stylesheet" type="text/css" href="disclaimer.css">

  <head>
    <title> <%= yield(:title)%> | Real Heroes DB </title>
  </head>

<div class="disclaimer-content">
</div>
