<% provide(:title, "Disclaimer")%>
<link rel="stylesheet" type="text/css" href="disclaimer.css">

  <head>
    <title> <%= yield(:title)%> | Mario Reads This </title>
  </head>

<div class="disclaimer-content">
  <h1> Disclaimer </h1>
  <br>
  <br>
  <h3>The information provided by Mario Reads This on marioreadsthis.herokuapp.com is for general, informational, and entertainment purposes only.
    All information on the site represents me and my thoughts only.
    I have no affiliation with the authors, publishers, and sellers of the books on the site.
    I do not get paid to review these books.
    Under no circumstance shall I have any liability for any problem incurred as a result of the use of the site
    or reliance on any information I have provided on the site.</h3>
  <br>
  <br>
  <img src="./assets/signature.png">
</div>
